:root {
  --ifm-color-primary: #c2410c;
  --ifm-color-primary-dark: #a93a0a;
  --ifm-color-primary-darker: #9f3709;
  --ifm-color-primary-darkest: #832d07;
  --ifm-color-primary-light: #db4c10;
  --ifm-color-primary-lighter: #e2551e;
  --ifm-color-primary-lightest: #e96f3c;
}
